<!DOCTYPE html>
<html>
<head>
    <title>Add Groups</title>
    <style>
        .column {
            float: left;
            width: 50%;
        }
        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="column">
            <h1>Groups</h1>
            <form action="/add_to_party_group" method="post">
                {% for group, names in contacts.items() %}
                    <h3>{{ group }}</h3>
                    <input type="checkbox" id="{{ group }}" name="group_invitees" value="{{ group }}">
                    <label for="{{ group }}">{{ names }}</label><br>
                {% endfor %}
                <input type="submit" value="Add">
            </form>
        </div>
        <div class="column">
            <h1>Invitees</h1>
            <form action="/add_to_batch_group" method="post">
                {% for group, names in invitees.items() %}
                    <h3>{{ group }}</h3>
                    <input type="checkbox" id="{{ group }}" name="group_batch_invitees" value="{{ group }}">
                    <label for="{{ group }}">{{ names }}</label><br>
                {% endfor %}
                <input type="submit" name="group_batch_button" value="batch 1">
                <input type="submit" name="group_batch_button" value="batch 2">
                <input type="submit" name="group_batch_button" value="batch 3">
            </form>
            <a href="/dump">dump invite list</a>
        </div>
    </div>
    <form action="/send_invites" method="post">
        <input type="submit" value="Send Invites">
    </form>
    <a href="/">individual mode</a>
    <a href="/batches">Batches</a>
    <a href="/save">save</a>
    <a href="/load">load</a>
</body>
</html>