<!DOCTYPE html>
<html>
<head>
    <title>Party Invites</title>
    <style>
        .column {
            float: left;
            width: 50%;
        }
        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="column">
            <h1>Contacts</h1>
            <form action="/add_to_party" method="post">
                {% for group, names in contacts.items() %}
                    <h3>{{ group }}</h3>
                    {% for name in names %}
                        <input type="checkbox" id="{{ name }}" name="invitees" value="{{ name }}">
                        <label for="{{ name }}">{{ name }}</label><br>
                    {% endfor %}
                {% endfor %}
                <input type="submit" value="Add">
            </form>
        </div>
        <div class="column">
            <h1>Invitees</h1>
            <form action="/add_to_batch" method="post">
                {% for group, names in invitees.items() %}
                    <h3>{{ group }}</h3>
                    {% for name in names %}
                        <input type="checkbox" id="{{ name }}" name="batch_invitees" value="{{ name }}">
                        <label for="{{ name }}">{{ name }}</label><br>
                    {% endfor %}
                {% endfor %}
                <input type="submit" name="batch_button" value="batch 1">
                <input type="submit" name="batch_button" value="batch 2">
                <input type="submit" name="batch_button" value="batch 3">
            </form>
            <a href="/dump">dump invite list</a>

        </div>
    </div>
    <a href="/groups">group mode</a>
    <a href="/batches">Batches</a>
    <a href="/save">save</a>
    <a href="/load">load</a>
</body>
</html>